<html>
  <head>
    <title>ADD-STUDENT</title>
    <link rel="stylesheet" href="/Zad4/public/css/main.css">
  </head>
    <body>
      <form method="POST" action="/student">
        <input type="text" name="name" placeholder="name" />
        <input type="text" name="lastname" placeholder="lastname" />
        <input type="text" name="studyField" placeholder="tudyField" />
        <input type="submit" value="Submit">
      </form><br>
      <a href="home.html">home</a>
      <a href="student.html">student</a>
      <a href="users.html">users</a>

    </body>
</html>